html, body, body>div {
    height: 100%;
}

/* Screen orientation */
.view {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
}

.right-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.contents {
    height: 100%;
    width: 100%;
}

.contents-title {
    text-align: center;
    border-bottom: gainsboro 1px solid;
    color: slategrey;
}

/* Nav components */

.left-container {
    display: flex;
    flex-flow: column nowrap;
    top: 0px;
    left: 0px;
    width: 20vw;
    height: 100%;
    background-color: steelblue;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 3.2em;
    border: gainsboro 1px solid;
}

.nav {
    justify-content: center;
    margin-bottom: 0.5vh !important;
    width: 100%;
}

.nav>button, .nav>a, .searchText {
    justify-content: center;
    margin-bottom: 0.5vh;
    width: 100%;
    color: cornflowerblue;
}

.search {
    width: 100%;
    height: 3.2em;
    background: lavender;
    padding-top: 0.5vh;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.search-box {
    width: 100%;
    margin-top: 0.3vh;
}