.sidebar {
    height: 100%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
}

.alternate-header {
    display: none !important;
}

.header-image {
    max-width:100%;
    max-height:100%;
    height: 85%;
    display: inline;
}

/* navigation bar contents */

.link-nav, .link-nav>a, .searchText {
    text-align: center;
    margin-bottom: 0.5vh !important;
    width: 100%;
    color: rgb(110, 150, 223) !important;
}

.link-nav-container {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.link-nav-text {
    color: black;
}

.navbar-title {
    text-align: center;
    background-color: rgb(205, 205, 205);
    color: rgb(60, 100, 153);
    border-radius: 0.5vw;
}

.alternate-nav {
    display: none;
    padding: 1vw 0px 0px 1vw ;
}

/* searcbar contents */

.search {
    margin-left: 0.5em;
    font-family: Arial;
    color: white;
}

.search-box {
    width: 28vw;
    border: rgb(205, 205, 205);
    border-radius: 0.4em 0px 0px 0.4em;
    background-color: rgb(205, 205, 205);
    margin-left: 1.0em;
}

.search-box::placeholder {
    color: rgb(55, 55, 55);
}

.search-box, .filter-tab, .search-button {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

.search-button {
    display: flex;
    align-items: center;
    background-color: rgb(205, 205, 205);
    border: rgb(205, 205, 205) 1px solid;
    border-radius: 0px 0.4em 0.4em 0px;
    color: rgb(35, 35, 35);
    padding-right: 0.7vw;
    padding-left: 0.7vw;
}

.tab-content, .tab-content + div {
    width: 100%;
}

.input-group {
    height: min-content !important;
}

/* filter portion of the searchbox */

.filter-container {
    width: 95%;
}

.filter-column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.filter-tab {
    color: rgb(25, 25, 25);
    border: rgb(205, 205, 205) solid;
    background-color: rgb(205, 205, 205);
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    margin-left: 0.5em;
}

.filter-checkbox {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-left: 1em;
}

.filter-type {
    color: rgb(90, 90, 90);
    flex-basis: 20%;
}

.input-group {
    padding: 0.5em;
}

.footer-link-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(165, 165, 165);
    text-align: right;
}

.footer-link {
    color: rgb(235, 235, 235);
    padding-right: 0.5em;
    padding-left: 0.5em;
}

@media (max-width: 1281px) {
    .search-box {
        width: 24vw;
    }
}

@media (max-width: 961px) {
    .search-box {
        width: 18vw;
    }

    .sidebar, .header, .navbar-title {
        display: none !important;
    }

    .alternate-nav {
        display: flex !important;
        flex-flow: row;
        flex-wrap: wrap;
        padding-bottom: 1vh !important;
    }

    .alternate-nav > *, .link-nav {
        height: 100%;
    }

    .link-nav {
        width: auto;
        border-radius: 1vw !important;
        margin-left: 0.5vw;
        margin-right: 0.5vw;
    }
}

@media (max-width: 481px) {
    .filter-tab, .search-box {
        margin-top: 0.2em;
        margin-bottom: 0.1em;
        margin-left: 0.3em;   
        margin-right: 0.3em;
        width: 12vw;
    }
    
}