.header { 
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.alternate-header {
    display: none;
}

.link-nav, .link-nav>a, .searchText {
    text-align: center;
    margin-bottom: 0.5vh !important;
    width: 100%;
    color: rgb(110, 150, 223) !important;
}

.link-nav-container {
    width: 100%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: center;
}

.link-nav-text {
    color: black;
}

.header-image {
    max-width:100%;
    max-height:100%;
    display: inline;
}

.search {
    margin-left: 0.5em;
    font-family: Arial;
    color: white;
}

.smaller-nav {
    display: none;
}

.search-box {
    width: 20vw;
    border: rgb(205, 205, 205);
    border-radius: 0.4em 0px 0px 0.4em;
    background-color: rgb(205, 205, 205);
    margin-left: 1.0em;
}

.search-box::placeholder {
    color: rgb(55, 55, 55);
}

.search-box, .filter-tab, .search-button {
    margin-top: 0.4em;
    margin-bottom: 0.2em;
}

.search-button {
    border-radius: 0px 0.4em 0.4em 0px;
    background-color: rgb(205, 205, 205);
    border: rgb(205, 205, 205) solid;
}

.tab-content, .tab-content + div {
    width: 100%;
}

.input-group {
    height: min-content !important;
}

.filter-container {
    width: 95%;
    margin-left: 0.5em;
}

.filter-column {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.filter-tab {
    color: rgb(25, 25, 25);
    border: rgb(205, 205, 205) solid;
    background-color: rgb(205, 205, 205);
    border-radius: 10px;
    width: fit-content;
    text-align: center;
    margin-left: 0.5em;
}

.filter-checkbox {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-left: 1em;
}

.filter-type {
    color: rgb(90, 90, 90);
    flex-basis: 20%;
}

.input-group {
    padding: 0.5em;
}

.footer-link-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(165, 165, 165);
    text-align: right;
}

.footer-link {
    color: rgb(235, 235, 235);
    padding-right: 0.5em;
    padding-left: 0.5em;
}

@media (max-width: 1281px) {
    .filter-tab {
        border-radius: 15px;
        width: 6.4vw;
    }
    .search-box {
        border-radius: 15px;
        width: 8vw;
    }
}

@media (max-width: 961px) {
    .filter-tab {
        border-radius: 15px;
        width: 4.8vw;
    }
    .search-box {
        border-radius: 15px;
        width: 6vw;
    }
}

@media (max-width: 481px) {
    .filter-tab, .search-box {
        border-radius: 10px;
        margin-top: 0.2em;
        margin-bottom: 0.1em;
        margin-left: 0.3em;   
        margin-right: 0.3em;
        width: 4vw;
    }
    
}