body {
    background-color: rgb(225, 225, 225) !important;
}

#root, .view {
    overflow: hidden;
}

.view {
    display: flex;
    flex-flow: row wrap;
}

.contents-container {
    display: flex;
    flex-flow: row nowrap;
}

/* Will use an alternate nav when screen is smaller... */
.alternate-nav {
    display: none;
}

#left {
    width: 15%;
}

#right {
    width: 85%;
}

.contents {
    padding-bottom: 10vh;
}

.contents-title {
    text-align: center;
    border-bottom: gainsboro 1px solid;
    color: slategrey;
}

@media (max-width: 961px) {
    .left-container {
        display: none;
    }
}