.landing-data {
    background-color: rgb(215, 215, 215);
    border: 0.05em solid black;
    padding: 1em;
    margin: 1em;
}

.welcome-title {
    text-align: center;
}

.future-info {
    font-style: italic;
}