html {
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px auto;
    padding: 0;
}

#root, .view {
    height: 100%;
    width: 100%;
}

.view {
    display: flex;
    flex-flow: row nowrap;
}

.right-container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}

.contents {
    height: 100%;
    width: 100%;
}

.contents-title {
    text-align: center;
    border-bottom: gainsboro 1px solid;
    color: slategrey;
}

/* Nav components */

.left-container {
    display: flex;
    flex-flow: column nowrap;
    top: 0px;
    left: 0px;
    width: 20vw;
    padding: 0%;
    max-height: 100%;
    height: auto;
    overflow: auto;
    background-color: rgb(228, 228, 228);
    float: left;
}

.header { 
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 3.2em;
}

.link-nav, .link-nav>a, .searchText {
    text-align: center;
    margin-bottom: 0.5vh !important;
    width: 100%;
    color: cornflowerblue !important;
}

.link-nav-container {
    background: rgb(228, 228, 228);
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.link-nav-text {
    color: black;
}

.search {
    width: 100%;
    height: 3.2em;
    background: rgb(228, 228, 228);
    padding-top: 0.5vh;
}

.search-box {
    width: 100%;
    margin-top: 0.3vh;
}