/* Table contents */
.section {
    margin: 0.2vh;
}

.val {
    border: rgb(16, 28, 65) 1px solid;
}

/* Navigation for manipulating pages */
.navigation {
    display: flex;
    flex-flow: row wrap;
    background-color: azure;
    border: 2px solid black;
    padding: 5px;
    width: 500px;
}

.navButton {
    margin: 0px 0.2em 0px;
}

.navInput {
    margin: 0px 0.2em 0px;
    width: 3em;
}